header {
    height: 80px;
}
img {
    position: absolute;
    padding-left: 16px;
    padding-top: 16px;
    width: 48px;
    height: 48px;
}

div {
    position: absolute;
    padding-left: 381px;
}

.home {
    position: absolute;
    width: 463px;
    height: 1000px;
}

main {
    position: absolute;
    padding: 180px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    width: 146px;
    height: 75px;
    top: 1080px;

}

footer {
    position: absolute;
    padding-left: 49px;
    padding-top: 4487px;
    height: 523px;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul{
    padding-left: 0px;
    padding-top: 4529px;
    width: 156px;
    height: 22px;
}

p {
    padding-left: 70px;
    padding-top: 368px;
    width: 290px;
    height: 21px;
}